################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/Programmer’sMath/v16/Server/sqlite3/storage.ide-wal
/.vs/Programmer’sMath/v16/Server/sqlite3/storage.ide-shm
/.vs/Programmer’sMath/v16/Server/sqlite3/storage.ide
/.vs/Programmer’sMath/v16/Server/sqlite3/db.lock
*.dtbcache
/Chapter1/obj/Debug/netcoreapp3.0/Chapter1.pdb
/Chapter1/obj/Debug/netcoreapp3.0/Chapter1.exe
/Chapter1/obj/Debug/netcoreapp3.0/Chapter1.dll
/Chapter1/obj/Debug/netcoreapp3.0/Chapter1.csproj.FileListAbsolute.txt
/Chapter1/bin/Debug/netcoreapp3.0/Chapter1.runtimeconfig.json
/Chapter1/bin/Debug/netcoreapp3.0/Chapter1.runtimeconfig.dev.json
/Chapter1/bin/Debug/netcoreapp3.0/Chapter1.pdb
/Chapter1/bin/Debug/netcoreapp3.0/Chapter1.exe
/Chapter1/bin/Debug/netcoreapp3.0/Chapter1.dll
/Chapter1/bin/Debug/netcoreapp3.0/Chapter1.deps.json
